<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @staff.email %>
</p>

<p>
  <b>Name:</b>
  <%= @staff.name %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
