<p>この勉強会に申し込まれている広告一覧です。</p>
<p>掲載可能な広告にチェックを入れて下さい。</p>

<%= form_tag playlists_path do %>
  <table class="list">
    <thead>
    <tr>
      <th>掲載<br />可否</th>
      <th>広告イメージ</th>
      <th>広告名</th>
      <th>素材秒数</th>
      <th>実質秒数</th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td class="checkbox"><input type="checkbox" name="ad_ids[]" value="<%= ad.id %>"></td>
        <td class="thumbnail">
          <iframe width="240" height="160" src="http://www.youtube.com/embed/<%= ad.url %>" frameborder="0" allowfullscreen></iframe>
        </td>
        <td><%= link_to ad.name, "" %></td>
        <td class="second"><%= ad.second %>&nbsp;秒</td>
        <td class="second"><%= ad.second %>&nbsp;秒</td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center">
  <%= submit_tag "OK" %>
</div>
<% end %>
