<%= form_for(@meetup) do |f| %>
  <% if @meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
      <% @meetup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    日付:<br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    イベント名:<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    開催地:<br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    定員:<br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    主催者名:<br />
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    イベントページ:<br />
    <%= f.text_field :site_url %>
  </div>
  <div class="field">
    ステータス:<br />
    <%
        status_list = {"予定" => "PLANNED", "中止" => "CANCELLED", "確定" => "CONFIRMATION"}
    %>
  <%= select_tag("meetup[status]", options_for_select(status_list)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
