<h1>スタッフ <%= current_staff.name %>さんのマイページ</h1>

<p><%= link_to '新規イベント登録', new_meetup_path %></p>

<table>
  <tr>
    <th>日付</th>
    <th>イベント名</th>
    <th>CM申込数</th>
    <th>ステータス</th>
    <th></th>
  </tr>

<% @meetups.each do |meetup| %>
  <tr>
    <td><%= meetup.display_date %></td>
    <td><%= link_to meetup.name, meetup %></td>
    <td><%= link_to meetup.cm_count, meetup_ads_path(meetup) %></td>
    <td><%= meetup.display_status %></td>
    <td><%= link_to '変更', edit_meetup_path(meetup) %></td>
  </tr>
<% end %>
</table>
