<h1>Listing meetups</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Location</th>
    <th>Capacity</th>
    <th>Group name</th>
    <th>Site url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetups.each do |meetup| %>
  <tr>
    <td><%= meetup.date %></td>
    <td><%= meetup.name %></td>
    <td><%= meetup.location %></td>
    <td><%= meetup.capacity %></td>
    <td><%= meetup.group_name %></td>
    <td><%= meetup.site_url %></td>
    <td><%= link_to 'Show', meetup %></td>
    <td><%= link_to 'Edit', edit_meetup_path(meetup) %></td>
    <td><%= link_to 'Destroy', meetup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meetup', new_meetup_path %>
