<p id="notice"><%= notice %></p>

<p>
  <b>日付:</b>
  <%= @meetup.date %>
</p>

<p>
  <b>イベント名:</b>
  <%= @meetup.name %>
</p>

<p>
  <b>開催地:</b>
  <%= @meetup.location %>
</p>

<p>
  <b>定員:</b>
  <%= @meetup.capacity %>
</p>

<p>
  <b>主催者名:</b>
  <%= @meetup.group_name %>
</p>

<p>
  <b>イベントページ:</b>
  <%= @meetup.site_url %>
</p>


<%= link_to 'Edit', edit_meetup_path(@meetup) %> |
<%= link_to 'Back', meetups_path %>
