<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @sponsor.email %>
</p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
