<h1><%= @pagetitle %></h1>
<p>プレイリストです。</p>

<%= form_for @playlist do |form| %>
  <table>
    <tr>
      <th>URL</th>
      <th>広告名</th>
      <th>秒数</th>
    </tr>

    <% @playlist.ads.each do |ad| %>
      <tr>
        <td><%= ad.url %></td>
        <td><%= ad.name %></td>
        <td><%= ad.second %></td>
      </tr>
    <% end %>

<%= javascript_include_tag "swfobject" %>


<script type="text/javascript"> 
var video_list_index = 0;
var video_list = [<%=raw @playlist.ads.map{|a| '"' + a.url + '"'}.join(", ") %>];

swfobject.embedSWF("http://www.youtube.com/v/" + video_list[0] + "?enablejsapi=1&autoplay=1&playerapiid=player", 
    "video", "854", "480", "8", null, null, { allowScriptAccess: "always" }, { id: "player" }); 

function onYouTubePlayerReady(playerId) { 
    document.getElementById(playerId).addEventListener("onStateChange", "onytplayerStateChange"); 
} 
function onytplayerStateChange(newState) { 
    if (newState == 0) {
        video_list_index++;
        if ( video_list_index > video_list.length ) {
            video_list_index = 0;
        }

        document.getElementById("player").loadVideoById(video_list[video_list_index]); 
    } 
} 
</script> 
<div id="video"></div> 

  </table>
<% end %>
