<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>StudyMeetingCm</title>
    <%= stylesheet_link_tag "custom" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="http://dummyimage.com/100x50/d3d3d3/000.png&text=ロゴ(100x50)" alt="SampleApp" class="round">
        <!--<img src="http://railstutorial.org/images/sample_app/logo.png" alt="SampleApp" class="round">-->
        <nav class="round">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Help', root_path %></li>
          <li><%= link_to 'Sign in', root_path %></li>
        </ul>
        </nav>
      </header>
      <section class="round">
      <h1>welcome</h1>
      <%= yield %>
      </section>
    </div>

    <footer>
      <nav class="round">
        <ul>
          <li><%= link_to 'About', "" %></li>
          <li><%= link_to 'Contact', "" %></li>
          <li><%= link_to 'News', "" %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
